#map {
  position: relative;
  height: 100%;
  width: 100%;
}
.draw-hunts {
  width: 100%;
  height: 100%;
}
#map-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#sidebar-container {
  background: rgba(255,255,255,0.85);
  position: absolute;
  right: 0;
  border-radius: 10px;
  width: 350px;
  z-index: 100;
}
.filters {
  background: #f1f1f1;
  margin: 20px;
  border-radius: 10px;
}
#filters-title {
  padding-left: 3%;
}
#species-container {
  position: relative;
  height: 50px;
}
#units-container {
  position: relative;
  height: 50px;
}
#subunits-container {
  position: relative;
  height: 50px;
}
select2-dropdown.select2-dropdown--below {
  width: 250px !important;
}
.select2-container--default .select2-selection--single {
  width: 250px;
  position: relative;
}
.select2-container--default .select2-selection--single {
  height: 37px;
  width: 250px;
}
#successrate-container {
  position: relative;
  height: 50px;
}
#drawrate-container {
  position: relative;
  height: 50px;
}
#slider-range {
  width: 250px;
}
#drawrange {
  width: 250px;
}
.head-control {
  padding-left: 8%;
}
#modal-content-override {
  height: 100%;
}
#main {
  height: 100%;
  width: 100%;
  position: fixed;
}
.modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1000;
  display: block;
  height: 100%;
  width: 100%;
}
.modal-lg {
  height: 100%;
  width: 100%;
}
#summary-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.modal-summary {
  min-width: 95%;
  height: 90%;
}
#modal-map {
  float: left;
  width: 100%;
  height: 100%;
}
.modal-map-container {
  width: 100%;
  height: 100%;
}
.modal-map-wrap {
  float: left;
  width: 100%;
  height: 90%;
}
.modal-header .close {
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.modal-title {
  right: left;
}
.nav-item {
  padding-top: 10px;
}
.modal-hunts {
  background: #e4e4e4;
  width: 100%;
  height: 57px;
}
.modal-hunt-summary {
  width: 100%;
  max-height: 100%;
  overflow: auto;
}
.hunt-summary-container {
  float: right;
  width: 40%;
  max-height: 100%;
  overflow: auto;
  padding-right: 100px;
  padding-top: 50px;
}
.wrap-map-summary {
  width: 55%;
  height: 100%;
  position: absolute;
  padding-left: 30px;
}
.hunt-modal-title-region {
  width: 25%;
  height: 7%;
  float: left;
}
#search-hunt-input {
  width: 168px;
  height: 28px;
}
.search-container {
  padding-bottom: 20px;
}
#hunt-search-submit {
  width: 28px;
}
#search-hunt-btn {
  cursor: pointer;
}
#search-hunt {
  width: 250px;
  height: 28px;
}
.adv-control {
  margin-right: 10px;
}
.adv-title {
  position: absolute;
  margin-top: 4px;
}
#advanced-filters-container {
  cursor: pointer;
}
.material-icons.arrow-up {
  display: none;
}
.success-head {
  display: none;
}
.draw-head {
  display: none;
}
.ui-widget-header {
/* border: 1px solid #e78f08; */
  background: #3b77a2;
  color: #fff;
  font-weight: bold;
}
.close-header {
  float: right;
}

/* 
 the .examples class was set in ExampleView.js
 and is automatically applied to the view's container div.
 */
div.examples {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/* control menu */
div.examples h1 {
  color: #636363;
}
div.examples div.controls {
  padding: 5px;
  border-bottom: dotted 1px #888;
}
div.examples div.controls span.label {
  margin-right: 1em;
  position: relative;
  top: 2px;
}
div.examples div.controls i.create {
  float: right;
  opacity: 0.6;
  cursor: pointer;
}
div.examples div.controls i.create:hover {
  opacity: 0.8;
}
/* example list */
div.examples ul.example-list {
  margin-top: 1em;
  padding: 0;
  list-style: none;
}
div.examples ul.example-list li {
  margin: 10px 0px;
}
div.examples ul.example-list li a {
  text-decoration: none;
  color: #000;
}
div.examples ul.example-list li a:hover {
  text-decoration: underline;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  overflow: auto;
}
html,
body {
  height: 100%;
}
#header {
  background: #0d254b;
  box-shadow: 0px 0px 2px 0 #000;
  height: 38px;
}
#header #logo {
  height: 30px;
  padding: 10px;
  top: 2px;
  left: 15px;
  color: rgba(255,248,248,0.9);
  text-decoration: none;
  font-size: 1.5em;
}
#main,
h1 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}
