/* 
 the .examples class was set in ExampleView.js
 and is automatically applied to the view's container div.
 */
div.examples {
	width:600px;
	margin-left:auto;
	margin-right:auto
}

/* control menu */

div.examples h1 {
	color:#636363
}

div.examples div.controls {
	padding:5px
	border-bottom:dotted 1px #888
}

div.examples div.controls span.label {
	margin-right:1em;
	
	position:relative;
	top:2px
}

div.examples div.controls i.create {
	float:right;
	opacity:.6;
	cursor:pointer
}

div.examples div.controls i.create:hover {
	opacity:.8
}


/* example list */

div.examples ul.example-list {
	margin-top:1em;
	padding:0;
	list-style:none;
}

div.examples ul.example-list li {
	margin:10px 0px;
}

div.examples ul.example-list li a {
	text-decoration:none;
	color:#000
}

div.examples ul.example-list li a:hover {
	text-decoration:underline;
}