<form  class="form-inline" onSubmit="return false;">
	<div class="form-group">
		<div class="col-xs-9">
			<div id="search-hunt" class="input-group mb-2 mr-sm-2 mb-sm-0">
    
    <input type="text"  class="form-control form-control-sm search-hunt-input" id="smFormGroupInput" placeholder="DC485">
    <div id="search-hunt-btn" class="input-group-addon">Search</div>
  </div>
		</div>
	</div>
</form>