<div id="filters-title"><h5>State of Alaska Draw Hunts</h5></div>

<div id="search-head" class="head-control"><h6>Search Hunt</h6>
	<div class="search-container"></div>
</div>

<div id="filters-title"><h5>Filter Hunts</h5></div>

<div id="species-head" class="head-control"><h6>Species</h6>
	<div id="species-container"></div>
</div>
<div id="units-head" class="head-control"><h6>Units</h6>
	<div id="units-container"></div>
</div>
<div id="subunits-head" class="head-control"><h6>Residence</h6>
	<div id="subunits-container"></div>
</div>
<div id="advanced-filters-head" class="head-control">
	<div id="advanced-filters-container">
		<span class="adv-icon adv-control"><i class="material-icons arrow-down">arrow_drop_down</i><i class="material-icons arrow-up">arrow_drop_up</i></span>
		<span class="adv-title adv-control"><h6>Advanced Filters</h6></span>
	</div>
</div>

 <div id="successrate-head" class="head-control success-head"><h6>Success Rate</h6>
	<div id="successrate-container"></div>
</div>
<div id="drawrate-head" class="head-control draw-head"><h6>Draw Rate</h6>
	<div id="drawrate-container"></div>
</div>  