<div class="modal-dialog modal-summary" >
    <div class="modal-content" id="modal-content-override">
        <div id="hunt-modal-header"></div>
        <div class="modal-body modal-hunt-body">
           <div class="modal-hunts"></div> 
         <!--  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul> -->
          <div class="modal-hunt-summary"></div>
          <div class="wrap-map-summary">
           
            <div class="modal-map-wrap">
              <div class="modal-map-container"></div>
            </div>
             
           
          </div>
        </div>
        <div id="hunt-modal-footer"></div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->