<div class="modal-dialog modal-xl" >
    <div class="modal-content" id="modal-content-override">
        <div id="hunt-modal-header"></div>
        <div class="modal-body">
          <div class="modal-hunt-summary"></div>
          <div class="wrap-map-summary">
            <div class="hunt-modal-title-region"></div>
            <div class="modal-map-wrap">
              <div class="modal-map-container"></div>
            </div>
             <div class="modal-hunts"></div>  
           
          </div>
        </div>
        <div id="hunt-modal-footer"></div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->